<h2>Search For A Movie</h2>
<form action='/movies/search' method="get">
  <input type="text" name="title" placeholder="search">
  <button>Search</button>
</form>

<% unless @search_results.nil? %>
<% @search_results.movies.each do |movie| %>
  <ul>
    <a href="/movies/<%= movie.id %>"><li><%= movie.title %></li></a>
  </ul>
<% end %>
<% end %>